---
import SocialIconWithLink from "./SocialIconWithLink.astro";

import "./styles.css";
---

<div class="social-icons-container">
	<SocialIconWithLink
		href="https://leetcode.com/bitmasker"
		icon="ri:linkedin-fill"
		title="Linkedin"
	/>

	<SocialIconWithLink
		href="https://leetcode.com/bitmasker"
		icon="ri:github-line"
		title="Github"
	/>

	<SocialIconWithLink
		href="https://leetcode.com/bitmasker"
		icon="simple-icons:leetcode"
		title="Leetcode"
	/>

	<SocialIconWithLink
		href="https://leetcode.com/bitmasker"
		icon="simple-icons:gmail"
		title="Email"
	/>

	<SocialIconWithLink
		href="https://leetcode.com/bitmasker"
		icon="ri:twitter-x-line"
		title="Twitter/X"
	/>
</div>
