---
import "./styles.css";

import { SocialLinksData } from "../../data/social";

import SocialIconWithLink from "./SocialIconWithLink.astro";
---

<div class="social-icons-container">
	{
		SocialLinksData.map((socialLink) => (
			<SocialIconWithLink {...socialLink} />
		))
	}
</div>
