---
import { Icon } from "astro-icon/components";

export interface Props {
	title: string;
	url: string;
	iconName: string;
}

const { title, url, iconName } = Astro.props;
---

<a
	href={url}
	target="_blank"
>
	<Icon
		name={iconName}
		title={title}
		class="social-icon"
	/>
</a>
