.social {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.social-intro {
	color: var(--primary-color);
	font-weight: 500;
	display: none;
}

.social-icons-container {
	display: flex;
	width: calc(100% - 3rem);
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--primary-color);
	border-radius: 2rem;
	position: fixed;
	bottom: 1rem;
	background-color: var(--background-color);
	z-index: 1;
}

.social-icon {
	font-size: 1.25rem;
	color: var(--primary-color);
	transition:
		color 0.3s ease-in-out,
		transform 0.2s ease-in-out;
}

.social-icon:hover {
	color: var(--highlight-color);
	transform: scale(1.2);
}

@media (min-width: 768px) {
	.social {
		opacity: 0;
		animation: slide-down-on-load 0.5s linear 1.5s forwards;
	}

	.social-icons-container {
		width: auto;
		position: static;
		border: none;
		justify-content: flex-start;
		gap: 4rem;
		padding: 0;
	}

	.social-icon {
		font-size: 1.5rem;
	}

	.social-intro {
		display: block;
	}
}
