:root {
	--background-color: #1a1a1a;
	--text-color: #dcd7c9;
	--secondary-text-color: #b7b7b7;
	--primary-color: #d4e4bc;
	--link-color: #d4e4bc;
	--highlight-color: #c2ff67;
}

html {
	background-color: var(--background-color);
	color: var(--text-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
	font-family: "Spectral", serif;
}

::selection {
	background-color: var(--primary-color);
	color: var(--background-color);
}

@keyframes slide-down-on-load {
	0% {
		transform: translateY(-8px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
