---
import { ExperienceData } from "../../data/experience.ts";
import ExperienceCard from "./ExperienceCard.astro";
---

<div class="experience-container">
	<h2>My work experience</h2>

	<div class="companies">
		{ExperienceData.map((experience) => <ExperienceCard {...experience} />)}
	</div>
</div>
