.experience-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	opacity: 0;
	animation: slide-down-on-load 0.5s linear 1.5s forwards;
}

.companies {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.company-logo {
	height: 48px;
	width: 48px;
	border-radius: 50%;
}

.experience-card {
	border-radius: 1rem;
	padding: 1rem 0;
}

.experience-card:hover {
	color: var(--primary-color);
}

.experience-head {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.company-description {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.company-description > p {
	color: var(--secondary-text-color);
}

.external-link {
	color: var(--primary-color);
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	font-size: 1.25rem;
}

.external-link:hover {
	color: var(--highlight-color);
	transform: translate(2px, -2px);
}

@media (min-width: 768px) {
	.experience-container {
		animation: slide-down-on-load 0.5s linear 2s forwards;
	}
}
