.experience-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	opacity: 0;
	animation: slide-down-on-load 0.5s linear 1.5s forwards;
}

.companies {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.company-logo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.company-name {
	margin-bottom: 0.25rem;
}

.experience-card {
	display: flex;
	gap: 1rem;
}

.experience-card:hover {
	color: var(--primary-color);
}

.experience-head {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.company-description {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.company-description > p {
	color: var(--secondary-text-color);
}

.external-link {
	color: var(--primary-color);
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	font-size: 1.25rem;
}

.external-link:hover {
	color: var(--highlight-color);
	transform: translate(2px, -2px);
}

@media (min-width: 768px) {
	.experience-container {
		animation: slide-down-on-load 0.5s linear 2s forwards;
	}
}

.positions-container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.position-container {
	display: flex;
	gap: 0.75rem;
}

.timeline-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	position: relative;
}

.timeline-dot {
	margin-top: 0.5rem;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--timeline-color);
}

.timeline-line {
	width: 1px;
	height: 90%;
	background-color: var(--timeline-color);
	position: absolute;
	top: 1.25rem;
	left: 3px;
}

@media (min-width: 768px) {
	.companies {
		gap: 2rem;
	}
}

@media (min-width: 1024px) {
	.companies {
		gap: 3rem;
	}
}
