---
import { Image } from "astro:assets";

import ProfilePhoto from "../../images/profile-photo.png";

import "./styles.css";
---

<div class="container">
	<Image
		src={ProfilePhoto}
		alt="Abhishek Jha"
	/>

	<h1>Abhishek Jha</h1>

	<p class="about-p-1">
		I&apos;m a <span class="highlighted-text"
			>full stack software engineer</span
		> based in India, with a passion for building scalable applications and solving
		complex problems. By day, I bulid robust web solutions that can handle anything
		the internet throws at them. By night, I'm a digital explorer, crafting side
		projects (that no one uses) and chasing new tech trends.
	</p>

	<p class="about-p-2">
		When I&apos;m not busy deploying or debugging, you might find me trying
		to optimize my joke algorithm—it&apos;s still running with O(n!)
		complexity, but I&apos;m working on it!
	</p>
</div>
